@charset "utf-8";

/* other */
.header-contents {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
}

.main {
    width: 98%;
    margin: 0 auto;
}

/* index */
.search_sort {
    margin-bottom: 24px;
}

.search, .sort {
    width: 12rem;
    height: 2rem;
    margin-right: 12px;
}

.search_sort_button {
    width: 3rem;
    height: 2rem;
}

.create > a {
    font-size: 1.2rem;
    text-decoration: underline;
}

table {
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 10px;
}

.pagenate-button {
    display: table;
    margin: 12px auto 0;
}


/* create & edit */
.container {
    margin-left: 0;
}

.container > form {
    width: 19rem;
}

.form-contents:not(.not) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.form-contents > not {
    text-align: right;
}

.form-contents > label {
    display: inline-block;
    text-align: right;
    width: 6rem;
    margin: 0;
}

.form-contents > .form-content {
    display: inline-block;
    width: 12.8rem;
}

.image-preview {
    width: 12.7rem;
    height: 10.6rem;
}

.form-contents  p {
    position: relative;
    top: 20px;
    left: 100px;
    width: 12.7rem;
    margin: 0;
    text-align: center;
}

.buttons {
    /*position: absolute;*/
    width: 14rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
}

.edit-buttons {
    width: 16rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 0 40px;
}

.buttons > .button {
    margin-left: 26px;
}